/*General*/
body {
  width: 100%;  
  height: 100vh;
  background: url('../photos/afternoon.jpg') no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: white;
}

input{
  background: none;
  outline: none;
  border: none;
  box-shadow:none !important;
  border-bottom: 2px inset;
}

/*Weather Bar*/
#weather-loc {
  border: none;
  border-bottom: 2px inset;
  height: 26px;
  text-align: center;
}

.off-Focus {
  background: white;
  animation: outFocus .5s linear forwards;
}

@keyframes outFocus {
  to {
    background:none;
  }
}

/*Todo List*/
#input-Task-buttons, #input-Task {
  display: none;
}

#todowrap {
  background-color: #fff;
  background-color: rgba(255,255,255,0.6);
  height: 300px;
  width:250px;
  border-radius: 2px;
}

.new-taskDetail {
  border: none;
  border-bottom: 2px inset;
  opacity: 0;
  animation: fadeIn .5s linear forwards;
}
 
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/*.removed-taskDetail {
  opacity: 1;
  animation: fadeOut .2s linear forwards;
}
 
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}*/


/*News Content*/
#news1 {
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
}
