/*General*/
body {
  width: 100%;  
  height: 100vh;
  background: url('../photos/afternoon.jpg') no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: helvetica,Roboto;
  font-weight: 500;
  color: white;
  text-shadow: 0 1px 5px rgba(0,0,0,.1);
}

a {
  color:white;
}

a:hover {
  text-decoration: none;
  color: #D2CBC9;
}

p {
  color: #D2CBC9;
}

input{
  background: none;
  outline: none;
  border: none;
  box-shadow:none !important;
}

input:focus {
  text-decoration: underline;
}

/*Weather*/
#weather-wrap {
  position: absolute;
  padding: 0;
  top: 6px;
  left: 14px;
  height: 46px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 6px;
}

#weather-loc {
  border: none;
  height: 22px;
  width: 120px;
  text-align: center;
  color: #D2CBC9;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.off-Focus {
  background: white;
  -webkit-animation: outFocus .5s linear forwards;
  -moz-animation: outFocus .5s linear forwards;
  -0-animation: outFocus .5s linear forwards;
  animation: outFocus .5s linear forwards;
}

@keyframes outFocus {
  to {
    background:none;
  }
}

#weathericon {
  width:24px;
  height:24px;
  position: fixed;
  top: 26px;
  left: 22px;
}

#weather-show {
  width:100px;
  height:10px;
  position: fixed;
  top: 20px;
  left: 48px;
}

/*Todo List*/
#todowrap {
  background-color: #fff;
  background-color: rgba(0,0,0,0.6);
  height: 50vh;
  position: fixed;
  bottom: 60px;
  left: 20px;
  display: none;
  border-radius: 6px;
  padding-top: 10px;
  opacity: 0;
}

#input-Task {
  display: none;
}

#userInTask {
  border: none;
}

.new-taskDetail {
  opacity: 0;
  -webkit-animation: fadeIn .5s linear forwards;
  -moz-animation: fadeIn .5s linear forwards;
  -0-animation: fadeIn .5s linear forwards;
  animation: fadeIn .5s linear forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#todo-button {
  position: fixed;
  cursor:pointer;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
  color: white;
  text-shadow: 0 1px 4px rgba(0,0,0,.5);
}

#todo-button:hover {
  text-decoration: none;
  color: #D2CBC9;
}

#addtask-button {
  position: absolute;
  bottom:0;
  left:0;
}

#completedtask-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.complete-button {
  position: absolute;
  left: 0;
  margin-top: -2px;
}

.remove-button {
  position: absolute;
  right: 0;
  margin-top: -2px;
}

.confirm-change-button {
  margin-left: 30px;
}
 
/*News Feed*/
#newswrap {
  background-color: #fff;
  background-color: rgba(0,0,0,0.8);
  border-radius: 6px;
  height: 86vh;
  position: fixed;
  bottom: 60px;
  right: 20px;
  overflow-y: scroll;
  display: none;
  opacity: 0;
}

.imgWrap {
  position: relative;
}

span.img-caption {
  background: rgba(0,0,0,0.8);
  color: white;
  display: table;
  height: 50px;
  left: 0;
  bottom: 0;
  position: absolute;
  width: auto;
  padding: 5px;
  opacity: 0;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.imgWrap:hover span.img-caption {
  opacity: 1;
}

#news-button {
  position: fixed;
  cursor:pointer;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  color: white;
  text-shadow: 0 1px 4px rgba(0,0,0,0.5);
}

#news-button:hover {
  text-decoration: none;
  color: #D2CBC9;
}

#news-button:active {
  border: none;
} 

h4 {
 margin-top: 4px;
 margin-bottom: 2px;
}

.news-title-abstract {
  margin-bottom: 10px;
}


/*greetings*/
#mainwrap-bot {
  width:600px;
  height:400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin:-20px 0 0 -300px; 
}

h1 {
  text-align: center;
  font-size: 64px;
  text-shadow: 0 1px 5px rgba(0,0,0,.1);
}

h2 {
  text-align: center;
  font-size: 32px;
  text-shadow: 0 1px 5px rgba(0,0,0,.1);
}

/*Animations*/

.show-block {
  -webkit-animation: fadeIn .5s linear forwards;
  -moz-animation: fadeIn .5s linear forwards;
  -0-animation: fadeIn .5s linear forwards;
  animation: fadeIn .5s linear forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

